# Database Connection String
# Per Vercel Postgres:
DATABASE_URL="postgres://default:xxx@xxx.postgres.vercel-storage.com:5432/verceldb"

# Per sviluppo locale con PostgreSQL:
# DATABASE_URL="postgresql://user:password@localhost:5432/pastaa"

# Per sviluppo locale con SQLite (ricorda di cambiare provider in schema.prisma):
# DATABASE_URL="file:./dev.db"
